In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.8/43.8 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
#step-1: impost dbspecific driver module
import pymysql

In [5]:
#step-2: create connection object
conobj=pymysql.connect(host="localhost",port=3306,user="root",password="Root",database="practice")

In [6]:
#step-3: create cursor object(it is responsible to execute SQL and read back result from RDBMS)
curobj=conobj.cursor()

In [10]:
# step-4: Execute SQL queries
curobj.execute("update emp set emp_salary=emp_salary+2.0")
curobj.execute("delete from emp where emp_id=123")

0

In [28]:
#step-5: commit the connection 
conobj.commit()

In [29]:
#step-6: close connection
conobj.close()

In [30]:
print(updatecount)

NameError: name 'updatecount' is not defined

In [ ]:
import pymysql
conobj=pymysql.connect(host="localhost",port=3306,user="root",password="Root",database="practice")
curobj=conobj.cursor()
curobj.execute("update emp set emp_salary=emp_salary+2.0")
conobj.commit()
conobj.close()

In [ ]:
import pymysql
conobj=pymysql.connect(host="localhost",port=3306,user="root",password="Root",database="practice")
curobj=conobj.cursor()
curobj.execute("update emp set emp_salary=emp_salary+2.0")
curobj.execute("insert into emp values(130,'Rohny',87456)")
conobj.commit()
conobj.close()
print("record edited")

In [34]:
import pymysql
conobj=pymysql.connect(host="localhost",port=3306,user="root",password="Root",database="practice")
curobj=conobj.cursor()

r=input("Entere a id")
n=input("Entere a name")
m=input("Entere a salary")

curobj.execute("insert into emp values(%s,%s,%s)",(r,n,m))
conobj.commit()
conobj.close()
print("Records inserted")

Entere a id 130
Entere a name Ram
Entere a salary 9876

OperationalError: (1136, "Column count doesn't match value count at row 1")